img{width:200px;
height:200px;}
h4 {
    color: red;
}
.color-modifier{
    background-color:rgb(243, 65, 154);
    border-color: rgb(243, 65, 154);
}
span {
    font-style: italic;
    color: indigo;
}

.rating-list li {
    float: right;
    color: gainsboro;
    padding: 10px 5px;
  
}
  
.rating-list li:hover,
.rating-list li:hover ~ li, .rating-list li.selected {
    color: #ffd700;
}
  
.rating-list {
    display: inline-block;
    list-style: none;
}