.active{
    font-weight:bold;
}
img{
    height: 100px;
    width: 200px;
}
.dec{
    color: rgb(233, 0, 155);
}
.dec:hover{
    color: #F0B014;
}
.color-modifier{
    background-color:rgb(243, 65, 154);
    border-color: rgb(243, 65, 154);
}