<h1>ajouter article<img [src]="imageUrl | art:'http://s3.amazonaws.com/uifaces/faces/twitter/sillyleo/128.jpg'"></h1>
<table>
    <tr>  
        <td>Nom :</td> 
        <td><input type="text" #p></td>
    </tr>
    <tr>   
        <td>Refernce : </td>
        <td><input type="text"  #n></td>    
    </tr>
    <tr>
        <td>image : </td>
        <td>
            <select #m>
                <option value="../assets/r.jpg">rouge a levre</option>
                <option value="../assets/f.jpg">fondation</option>
                <option value="../assets/c.jpg">contour</option>
                <option value="../assets/ha.jpg">highlighter</option>
                <option value="../assets/primer.jpg">primer</option>
            </select> 
        </td>
    </tr>
    <tr>    
        <td>prix : </td>
        <td><input type="text"  #c> </td>
    </tr>
    <tr>
        <td>disponibilité : </td>
        <td><input type="text"  #l></td>
    </tr>
    <tr>
        <td>
            <button (click)="onAdd(p.value,n.value,m.value,c.value,l.value)" class='btn btn-info color-modifier'>ajouter</button> 
        </td>
    
    </tr>
</table>